@import 'tailwindcss';

@font-face {
    font-family: 'VCR';
    src: url('/public/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Terr";
    src: url("/public/fonts/Terraria.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}